{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link href="{% static "stylesheets/register_men.css" %}" rel="stylesheet">
          {% include 'stylesheets.html' %}

            </head>
    <body>
       {%  include 'navbar.html' %}

       <div class="sidebar" id="socializ">
<ul class="main-menu">
            <li><a href="#company" class="gn-icon gn-icon-earth">Персонал</a>
               <ul>
                    <li><a class="gn-icon gn-icon-help">Управление</a></li>
                   <li><a href="/auth/register" class="gn-icon gn-icon-cog">Добавить сотрудника</a></li>
               </ul>
    </li>
            <li><a href="#services" class="gn-icon gn-icon-help">Информация</a>
                <ul>
                    <li><a class="gn-icon gn-icon-article">Акции</a></li>
                    <li><a class="gn-icon gn-icon-earth">Контакты</a></li>
                </ul>
            </li>
            <li><a href="#team" class="gn-icon gn-icon-article">Склад</a>
                <ul>
                    <li><a href="{% url 'dishes_list' %}" class="gn-icon gn-icon-search">Блюда</a></li>
                    <li><a href="{% url 'post_ingredientlist' %}" class="gn-icon gn-icon-pictures">Продукты</a></li>
                </ul>
    </li>
            <li><a href="#contacts" class="gn-icon gn-icon-help">Создать меню</a>
                <ul>
                    <li><a href="{% url 'menu_archive' %}" class="gn-icon gn-icon-search">Архив</a></li>
                                    <li><a href="{% url 'new_menu' %}" class="gn-icon gn-icon-search">Создать меню</a></li>
                                                    </ul>
    </li>
        </ul>
</div>

       <div class="content container">
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Регистрация</h1>

    <div class="well">
        <form action="/auth/register/" method="post">
            {% csrf_token %}
            {{ form.errors }}
            <label for="username">Имя пользователя</label>
            {{ form.username }}
            <label for="password">Пароль</label>
            {{ form.password }}
            <input type="radio" name="role" value="is_admin" /> Администратор
            <input type="radio" name="role" value="is_cashier" /> Кассир

            <div class="form-group">

          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
    </div>
  </div>
</div>
    </div>
     {%  include 'javascripts.html' %}
    </body>
</html>