{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
    <style>
    div.page-container {
        padding-top: 8%;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="L">
    {% for post in posts %}

            <div id="image-{{ post.id }}" class="col-xs-12 col-sm-6 col-md-4 col-l">
                <div class="post">
                <div class="post-top">
                {% if post.image %}
                    <a href="{% url 'post_detail' pk=post.pk %}"> <img src="/{{ post.image.url }}" height="200"
                                                                       width="250" float="left"/> </a>
                {% endif %}
                <p class="post-top-price"><span>{{ post.price }} &#8381;</span></p>
                </div>
                <div class="post-content">
                <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                </h3>
				<p>
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>

                    <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}" onclick="return confirmDelete();"><span class="glyphicon glyphicon-remove"></span></a>
                   </p>
                {% if post.price %}
                    <p>price: {{ post.price }}</p>
                {% endif %}
                {% if post.calories %}
                    <p>калории: {{ post.calories }}</p>
            {% endif %}
                    </div>
        </div>
        </div>

    {% endfor %}
    </div>
    <div class="menu"><a href="{% url 'post_new' %}">
           <span class="glyphicon glyphicon-plus-sign"></span></a></div>
{% endblock %}


{% block scrip %}
    <script type="text/javascript" src="{% static 'javascripts/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/gnmenu.js' %}"></script>
    <script type="text/javascript">
        function confirmDelete() {
            if (confirm("Вы уверены, что хотите удалить меню?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
    {% include 'javascripts.html' %}
     <script>
     $(function(){
    $(window).scroll(function() {
        var top = $(document).scrollTop();
        if (top < 100) $(".floating").css({top: '0', position: 'relative'});
        else $(".floating").css({top: '10px', position: 'fixed'});
    });
});
     </script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
{% endblock %}


