{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
        <style>
      table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif !important;
  font-size: 14px !important;
  background: white !important;
  max-width: 70% !important;
  width: 70% !important;
  border-collapse: collapse !important;
  text-align: left !important;
}
th {
  font-weight: normal !important;
  color: #039 !important;
  border-bottom: 2px solid #6678b1 !important;
  padding: 10px 8px !important;
}
td {
  color: #669 !important;
  padding: 9px 8px !important;
  transition: .3s linear !important;
    border-top:1px solid #e8edff;
}
tr:hover td{
  color: #6699ff !important;
  background: #e8edff;
}
            #socializ{
                top:80px;
                position: fixed;
                z-index: 1000;
            }
            </style>
            <script type="text/javascript" src="{% static 'javascripts/modernizr.custom.js' %}"></script>
{% endblock %}
       {#  <div class="col-md-8"> #}
{% block content %}
    <div class="smart-green">
       <h1>Архив меню
       <span>Измените желаемое, для создание нового. Оно автоматически появиться на главной</span></h1>
            {% if history %}
                <table>
                <tr>
                <th>Название</th><th>Дата</th><th>Изменить</th>
                </tr>
            {% for item in history %}
                <tr>
                <td><a href="{% url 'menu_detail' pk=item.menu.pk %}">{{ item.menu.title }}</a></td>
                       <td>
                         {% if item.menu.date %}{{ item.menu.date }}
                        {% endif %}
                       </td>
                        <td><a class="btn btn-default" href="{% url 'menu_edit' pk=item.menu.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                </tr>
                 {% endfor %}
                </table>
        {% endif %}
    </div>
{% endblock %}

              {#  </div>  #}

{% block scrip %}
         <script type="text/javascript" src="{% static 'javascripts/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/gnmenu.js' %}"></script>
        <script>
         function confirmDelete ()
         {
             if (confirm("Вы уверены, что хотите удалить меню?")) {
                 return true;
             }
                     else
                     {
                     return false;
                 }
         }
       </script>
    <script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
     <script>
         function confirmDelete ()
         {
             if (confirm("Вы уверены, что хотите удалить блюдо?")) {
                 return true;
             }
                     else
                     {
                     return false;
                 }
         }
       </script>
    {%  include 'javascripts.html' %}
{% endblock %}