{% extends "base.html" %}
{% load staticfiles %}
    {% block css %}
           <style>

#socializ{
                top:80px;
                position: fixed;
                z-index: 1000;
            }
                                        </style>
            <script type="text/javascript" src="{% static 'javascripts/modernizr.custom.js' %}"></script>
{% endblock %}
       {% block content %}
       {#  <div class="col-md-8"> #}
            <div class="smart-green">
    {# <a href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon-pencil"></span></a> #}
    {# <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a><a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a> #}
        <h1>{{ instance.title }} <a href="{% url 'post_edit' pk=instance.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <span><div class="date">
                         {% if instance.date %}
                              <p>published: {{ instance.date }}</p>
                        {% endif %}
                     </div>
            </span>
          </h1>
<p>
            <ul>
            {% for item in items %}
                <li id="menu">
                <div class="image-{{ item.id }}" class="col-xs-12 col-sm-6 col-md-4 col-l">
                <div class="post">
                <div class="post-top">
                    {% if item.image %}
                         <a href="{%  url 'post_detail' pk=item.pk %}"><img src="/{{item.image.url }}" height="200" width="250" float="left"/></a>
                       {% endif %}
                <p class="post-top-price"><span>{{  item.price }} &#8381;</span></p>
                </div>
                <div class="post-content">
               {# <a href="{% url 'post_detail %}' pk=item.pk %}">{{ item.title }}</a> #}
                <h3><a href="{% url 'post_detail' pk=item.pk %}">{{ item.title }}</a></h3>
                <p>
                    <a class="btn btn-default" href="{% url 'post_edit' pk=item.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>

                 <a class="btn btn-default" href="{% url 'menu_item_remove' instance.pk item.pk %}" onclick="return confirmDelete();"><span class="glyphicon glyphicon-remove"></span></a>
                 </p>
                    {% if item.calories %}
                        <p>калории: {{ item.calories }}</p>
                    {% endif %}
                    </div>
                </div>
                </div>
                </li>
            {% endfor %}
            </ul>
           </p>
                </div>


              {#  </div>  #}


       {% endblock %}
{% block scrip %}
         <script type="text/javascript" src="{% static 'javascripts/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/gnmenu.js' %}"></script>
        <script>
         function confirmDelete ()
         {
             if (confirm("Вы уверены, что хотите удалить меню?")) {
                 return true;
             }
                     else
                     {
                     return false;
                 }
         }
       </script>
    <script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
    {% include 'javascripts.html' %}
    {% endblock %}

