{% extends "base.html" %}
{% load staticfiles %}
{% block css %}

            <script type="text/javascript" src="{% static 'javascripts/modernizr.custom.js' %}"></script>
{% endblock %}
       {% block content %}
       {#  <div class="col-md-8"> #}
            <form role="form" method="post" action="" enctype="multipart/form-data" class="uniForm">{%  csrf_token %}
                <div class="title1"><h2>Составить новое блюдо</h2></div>
                <div class="form-group">
                    {{ form.title.errors }}
                    <label for="title">Название:</label>
                    {{ form.title }}
                </div>

                <div class="form-group">
                    <label for="items">Блюда:</label>
                    {{ form.items.errors }}
                    <div class="container1">
                        <div multiple="items" class="selectmultiple chosen">
                            {{ form.items }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
{% endblock %}

              {#  </div>  #}
{% block scrip %}
         <script type="text/javascript" src="{% static 'javascripts/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/gnmenu.js' %}"></script>
        <script>
         function confirmDelete ()
         {
             if (confirm("Вы уверены, что хотите удалить меню?")) {
                 return true;
             }
                     else
                     {
                     return false;
                 }
         }
       </script>
    <script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
    {% include 'javascripts.html' %}
{% endblock %}













