{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
        <style>
        div.page-container{
            padding-top: 20px;
        }
        .smart-green{
        height:auto !important;
    }
        </style>
            <script type="text/javascript" src="{% static 'javascripts/modernizr.custom.js' %}"></script>
{% endblock %}
{% block content %}
       {#  <div class="col-md-8"> #}
     <form method="post" class="smart-green">
            <h1>
                "Добавить ингридиент"
                <span>Пожалуйста, заполните все поля</span>
            </h1>
            <p>
                <label>
                    <label for="title">Название :</label>
                    {{ form.name.errors }}
                    {{ form.name }}
                </label>
                <label>
                    <label for="weight">Вес :</label>
                    {{ form.weight.errors }}
                    {{ form.weight }}
                </label>
                <label>
                    <span>&nbsp;</span>
                    <input type="submit" class="button" value="Send">
                </label>
            </p>

            </form>
   {% endblock %}
              {#  </div>  #}
{% block scrip %}
         <script type="text/javascript" src="{% static 'javascripts/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/gnmenu.js' %}"></script>
        <script>
         function confirmDelete ()
         {
             if (confirm("Вы уверены, что хотите удалить меню?")) {
                 return true;
             }
                     else
                     {
                     return false;
                 }
         }
       </script>
    <script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
    {% include 'javascripts.html' %}
 {% endblock %}













