{% load staticfiles %}
<html>
    <head>
<link href="{% static "stylesheets/forms.css" %}" rel="stylesheet">
        <title>Django Girls blog</title>
          {% include 'stylesheets.html' %}
            <script type="text/javascript" src="{% static 'javascripts/modernizr.custom.js' %}"></script>

        		            </head>
    <body>
       {%  include 'navbar.html' %}
    <div class="sidebar">
<ul class="main-menu">
            <li><a href="#company" class="gn-icon gn-icon-earth" id="sub-menu" tabindex="1">Персонал</a>
               <ul>
                    <li><a class="gn-icon gn-icon-help">Управление</a></li>
                   <li><a href="/auth/register" class="gn-icon gn-icon-cog">Добавить сотрудника</a></li>
               </ul>
    </li>
            <li><a href="#services" class="gn-icon gn-icon-help" id="sub-menu" tabindex="1">Информация</a>
                <ul>
                    <li><a class="gn-icon gn-icon-article">Акции</a></li>
                    <li><a class="gn-icon gn-icon-earth">Контакты</a></li>
                </ul>
            </li>
            <li><a href="#team" class="gn-icon gn-icon-article">Склад</a>
                <ul>
                    <li><a href="{% url 'dishes_list' %}" class="gn-icon gn-icon-search">Блюда</a></li>
                    <li><a href="{% url 'post_ingredientlist' %}" class="gn-icon gn-icon-pictures">Продукты</a></li>
                </ul>
    </li>
            <li><a href="#contacts" class="gn-icon gn-icon-help">Создать меню</a>
                <ul>
                    <li><a href="{% url 'menu_archive' %}" class="gn-icon gn-icon-search">Архив</a></li>
                                    <li><a href="{% url 'new_menu' %}" class="gn-icon gn-icon-search">Создать меню</a></li>
                                                    </ul>
    </li>
        </ul>
</div>
       <div class="page-container">
       {#  <div class="col-md-8"> #}

                <div id="image-{{instance.id}}" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

                    {{ instance.name }}<a class="btn btn-default" href="{% url 'post_ingredientedit' pk=instance.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                 <a class="btn btn-default" href="{% url 'ingredient_remove' pk=instance.pk %}" onclick="return confirmDelete();"><span class="glyphicon glyphicon-remove"></span></a>
</h1>
                        {# <p>price: {{  ingredients.price }}</p> #}
                        <p>вес: {{ instance.weight }}</p>
                </div>
    </div>

              {#  </div>  #}

       <div class="menu"><a href="{% url 'post_ingredientnew' %}">
           <span class="glyphicon glyphicon-plus-sign"></span></a></div>
  <div class="text"></div>
         <script type="text/javascript" src="{% static 'javascripts/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/gnmenu.js' %}"></script>
        <script>
         function confirmDelete ()
         {
             if (confirm("Вы уверены, что хотите удалить меню?")) {
                 return true;
             }
                     else
                     {
                     return false;
                 }
         }
       </script>
    <script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
    </body>
</html>





