{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
                   <style>
               table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif !important;
  font-size: 14px !important;
  background: white !important;
  max-width: 70% !important;
  width: 70% !important;
  border-collapse: collapse !important;
  text-align: left !important;
}
th {
  font-weight: normal !important;
  color: #039 !important;
  border-bottom: 2px solid #6678b1 !important;
  padding: 10px 8px !important;
}
td {
  color: #669 !important;
  padding: 9px 8px !important;
  transition: .3s linear !important;
    border-top:1px solid #e8edff;
}
tr:hover td{
  color: #6699ff !important;
  background: #e8edff;
}
               #socializ{
                top:80px;
                position: fixed;
                z-index: 1000;
            }
               .glyphicon.glyphicon-plus-sign {
    color: #77DD77 !important;
}
                   .smart-green{
                       background: white;
                   }
                                        </style>
            <script type="text/javascript" src="{% static 'javascripts/modernizr.custom.js' %}"></script>
{% endblock %}

 {% block content %}
     <div class="smart-green">
     <h1>Ингредиенты
     <span>список ингредиентов</span>
     </h1>
       <table>
       <tr>
           <th>Ингридиент</th><th>Вес</th><th>Дата</th><th>Удалить</th><th>Изменить</th>
       </tr>
           {% for post in posts %}
                {# <div class="col-md-8">  #}
               <tr>
               <td><a href="{% url 'post_ingredientdetail' pk=post.pk %}">{{ post.name }}</a></td>
                <td>{{ post.weight }}</td>
                 <td>{{ post.date }}</td>
                  <td><a class="btn btn-default" href="{% url 'post_ingredientedit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                 <td><a class="btn btn-default" href="{% url 'ingredient_remove' pk=post.pk %}" onclick="return confirmDelete();"><span class="glyphicon glyphicon-remove"></span></a></td>
               </tr>
                        {# <p>price: {{  ingredients.price }}</p> #}

            {% endfor %}
       </table>

     </div>


              {#  </div>  #}

       <div class="menu"><a href="{% url 'post_ingredientnew' %}">
           <span class="glyphicon glyphicon-plus-sign"></span></a></div>
  <div class="text"></div>
  {% endblock %}
    {% block scrip %}
         <script type="text/javascript" src="{% static 'javascripts/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/gnmenu.js' %}"></script>
        <script>
         function confirmDelete ()
         {
             if (confirm("Вы уверены, что хотите удалить ингрединет?")) {
                 return true;
             }
                     else
                     {
                     return false;
                 }
         }
       </script>
    <script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
    {% include 'javascripts.html' %}
{% endblock %}













