{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
    <style>
    .carousel-caption1{
        margin-left: 40%;
    }
    .carousel-content p{
        font-size:1.3vw;
        text-shadow: 1px 1px 2px black, 0 0 1em grey;
    }
    .carousel-content .date{
        /*margin-top: -100px; */
        font-size: 1.2vw;
        /*margin-left: 60%;*/
        text-shadow: 1px 1px 2px black, 0 0 4em grey;
    }
.carousel-content h3 {
    z-index: 10;
    /* padding-top: 20px; */
    color: #ff5722;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    font-size: 3vw;
}
.carousel-content img{
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
    padding-left: 0;
}
     li#menu {
        width: 200px;
        min-height: 250px;
        border: 1px solid #eee;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        zoom: 1;
        *display: inline;
        _height: 250px;
    }
    .text1{
        width:40%;
        left: 50%;
        /*margin-left: 50%;*/
        /*margin-bottom:20%;*/
        margin-top: -43%;
        position:absolute;
    }
    .item{
        position:relative;
    }
    .imag{
    max-width: 30%;
    height: auto;
    margin-left:6%;
    margin-top: auto;
    bottom: 20%;
    margin-bottom: 20%;
        position:static;
}
    .carousel-content{
        height:80%;
    }
    .post-content{
        height:120px;
    }
    .del{
        height:20px;
        text-align:center;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="row carousel-holder">

        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                            <img class="slide-image" src="/media/carousel/693868_cut-photo.ru.jpg" alt="">
                        <div class="carousel-content">
                            {% if schedule %}
                                <h3>Режим работы</h3>
                                <p>Пн-Пт:{{ schedule.monfr1.hour }}:{{ schedule.monfr1.minute }}
                                    - {{ schedule.monfr2.hour }}:{{ schedule.monfr2.minute }}</p>
                                <p>Сб-Вс: {{ schedule.stsn1.hour }}:{{ schedule.stsn1.minute }}
                                    - {{ schedule.stsn2.hour }}:{{ schedule.stsn2.minute }}</p>
                                <p>Завтрак: {{ schedule.breakfast1.hour }}:{{ schedule.breakfast1.minute }}
                                    - {{ schedule.breakfast2.hour }}:{{ schedule.breakfast2.minute }}</p>
                                <p>Обед: {{ schedule.dinner1.hour }}:{{ schedule.dinner1.minute }}
                                    - {{ schedule.dinner2.hour }}:{{ schedule.dinner2.minute }}</p>
                                <p>Ужин: {{ schedule.supper1.hour }}:{{ schedule.supper1.minute }}
                                    - {{ schedule.supper2.hour }}:{{ schedule.supper2.minute }}</p>
                            {% endif %}
                        </div>
                        <div class="carousel-caption">

                        </div>
                    </div>
                    {% for share in shares %}
                    <div class="item">
                            <img class="slide-image" src="/media/carousel/693868_cut-photo.ru.jpg" alt="">

                        <div class="carousel-content">
                            {% if share %}
                                <div class="imag">
                              {% if share.image %}
                   <img src="/{{ share.image.url }}" />
                              {% endif %}
                                </div>
                                <div class="text1">
                                 <h3>{{ share.title }}</h3>
                                <p class="date">{{ share.start_date.day }}-{{ share.start_date.month }}-{{ share.start_date.year }}  {{ share.start_date.hour }}:{{ share.start_date.minute }} - {{ share.end_date.day }}-{{ share.end_date.month }}-{{ share.end_date.year }}  {{ share.end_date.hour }}:{{ share.end_date.minute }}</p>
                                <p>
                                {{ share.type }}
                                 {{ share.text }}
                                </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                    <div class="item">
                        <img class="slide-image" src="\media\carousel\693986_cut-photo.ru.jpg" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

    </div>
    <div class="L">
    <ul>
    {% for dish in posts.items.all %}
            <li id="menu">
            <div id="image-{{ dish.id }}" class="col-xs-12 col-sm-6 col-md-4 col-l">
                <div class="post">
                <div class="post-top">
                {% if dish.image %}
                    <a href="{% url 'post_detail' pk=dish.pk %}"> <img src="/{{ dish.image.url }}" height="200"
                                                                       width="250" float="left"/> </a>
                                  {% else %}
                    <a href="{% url 'post_detail' pk=dish.pk %}"><img src="/media/carousel/710530243_51033_5546561749228341723.jpg" height="200" width="250" float="left"/></a>
                {% endif %}
                <p class="post-top-price"><span>{{ dish.price }} &#8381;</span></p>
                </div>
                <div class="post-content">
                <h3><a href="{% url 'post_detail' pk=dish.pk %}">{{ dish.title }}</a>
                </h3>
                </div>
                <div class="del">
                {% if dish.calories %}
                    <p>калории: {{ dish.calories }}</p>
            {% endif %}
                </div>

        </div>
        </div>
        </li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}


{% block scrip %}
    <script type="text/javascript" src="{% static 'javascripts/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/gnmenu.js' %}"></script>
    <script type="text/javascript">
        function confirmDelete() {
            if (confirm("Вы уверены, что хотите удалить меню?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
    {% include 'javascripts.html' %}
     <script>
     $(function(){
    $(window).scroll(function() {
        var top = $(document).scrollTop();
        if (top < 100) $(".floating").css({top: '0', position: 'relative'});
        else $(".floating").css({top: '10px', position: 'fixed'});
    });
});
     </script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
{% endblock %}