{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
 <link href="{% static "stylesheets/forms.css" %}" rel="stylesheet">
        <title>Django Girls blog</title>
          {% include 'stylesheets.html' %}
        <style>
            #socializ{
                top:80px;
                position: fixed;
                z-index: 1000;
            }
            .glyphicon.glyphicon-plus-sign {
    color: #77DD77 !important;

}
        </style>
            <script type="text/javascript" src="{% static 'javascripts/modernizr.custom.js' %}"></script>
{% endblock %}
        		            {% block content %}
       {#  <div class="col-md-8"> #}
            <form method="post" action="" enctype="multipart/form-data" class="post-form">{%  csrf_token %}
                <h2>Составить новое блюдо</h2>
                {{ form.as_p }}
                    <div class="form-group">
 <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                       </form>


              {#  </div>  #}
{% endblock %}
{% block scrip %}
         <script type="text/javascript" src="{% static 'javascripts/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/gnmenu.js' %}"></script>
        <script>
         function confirmDelete ()
         {
             if (confirm("Вы уверены, что хотите удалить меню?")) {
                 return true;
             }
                     else
                     {
                     return false;
                 }
         }
       </script>
    <script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
    {% include 'javascripts.html' %}
{% endblock %}












