{% load staticfiles %}
<html>
    <head>
<link href="{% static "stylesheets/forms.css" %}" rel="stylesheet">
        <style>
            #socializ{
                top:80px;
                position: fixed;
                z-index: 1000;
            }
        </style>
        <title>Django Girls blog</title>
          {% include 'stylesheets.html' %}
            <script type="text/javascript" src="{% static 'javascripts/modernizr.custom.js' %}"></script>

        		            </head>
    <body>
       {%  include 'navbar.html' %}
    <div class="sidebar" id="socializ">
<ul class="main-menu">
            <li><a href="#company" class="gn-icon gn-icon-earth">Персонал</a>
               <ul>
                    <li><a class="gn-icon gn-icon-help">Управление</a></li>
                   <li><a href="/auth/register" class="gn-icon gn-icon-cog">Добавить сотрудника</a></li>
               </ul>
    </li>
            <li><a href="#services" class="gn-icon gn-icon-help">Информация</a>
                <ul>
                    <li><a class="gn-icon gn-icon-article">Акции</a></li>
                    <li><a class="gn-icon gn-icon-earth">Контакты</a></li>
                    {%  if schedule  %}
                                <li><a href="{% url 'schedule_edit' pk=schedule.pk %}" class="gn-icon gn-icon-earth">Режим работы</a></li>

                        {% else %}
                         <li><a href="{% url 'schedule_new' %}" class="gn-icon gn-icon-earth">Режим работы</a></li>
                    {% endif %}
                </ul>
            </li>
            <li><a href="#team" class="gn-icon gn-icon-article">Склад</a>
                <ul>
                    <li><a href="{% url 'dishes_list' %}" class="gn-icon gn-icon-search">Блюда</a></li>
                    <li><a href="{% url 'post_ingredientlist' %}" class="gn-icon gn-icon-pictures">Продукты</a></li>
                </ul>
    </li>
            <li><a href="#contacts" class="gn-icon gn-icon-help">Создать меню</a>
                <ul>
                    <li><a href="{% url 'menu_archive' %}" class="gn-icon gn-icon-search">Архив</a></li>
                                    <li><a href="{% url 'new_menu' %}" class="gn-icon gn-icon-search">Создать меню</a></li>
                                                    </ul>
    </li>
        </ul>
</div>
       <div class="page-container">
       {#  <div class="col-md-8"> #}
            <form method="post" action="" enctype="multipart/form-data" class="uniForm">{%  csrf_token %}
                <h2>Добавить новый ингридиент:</h2>
                {{ form.as_p }}
                    <div class="form-group">
 <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                       </form>
    </div>

              {#  </div>  #}

         <script type="text/javascript" src="{% static 'javascripts/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/gnmenu.js' %}"></script>
        <script>
         function confirmDelete ()
         {
             if (confirm("Вы уверены, что хотите удалить меню?")) {
                 return true;
             }
                     else
                     {
                     return false;
                 }
         }
       </script>
    <script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
    {% include 'javascripts.html' %}
    </body>
</html>













