{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
    <style>
        div.page-container{
            padding-top: 20px;
        }
    </style>
    <script type="text/javascript" src="{% static 'javascripts/modernizr.custom.js' %}"></script>
{% endblock %}
{% block content %}
{#  <div class="col-md-8"> #}
    <div class="smart-green">
        {# <a href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon-pencil"></span></a> #}
        {# <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a><a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a> #}
        <h1>{{ instance.title }} <a href="{% url 'post_edit' pk=instance.pk %}"><span
                class="glyphicon glyphicon-pencil"></span></a></h1>
        </h1>
        {% if instance.image %}
            <img src="/{{ instance.image.url }}" height="200" width="250" float="left"/>
            {% else %}
            <a href="{% url 'post_detail' pk=instance.pk %}"><img src="/media/carousel/710530243_51033_5546561749228341723.jpg" height="200" width="250" float="left"/></a>
        {% endif %}

        <p>price: {{ instance.price }}</p>
        <p>калории: {{ instance.calories }}</p>
        {% if ingredients %}
            <ul>
                {% for ingredient in ingredients %}
                    <li>{{ ingredient.ingredient }}  {{ ingredient.amount }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ instance.text|linebreaks }}
    </div>
{% endblock %}

{#  </div>  #}
{% block scrip %}
<script type="text/javascript" src="{% static 'javascripts/classie.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/gnmenu.js' %}"></script>
<script>
    function confirmDelete() {
        if (confirm("Вы уверены, что хотите удалить меню?")) {
            return true;
        }
        else {
            return false;
        }
    }
</script>
<script>
    new gnMenu(document.getElementById('gn-menu'));
</script>
{% include 'javascripts.html' %}
{% endblock %}

