{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
        <style>
            #socializ{
                top:80px;
                position: fixed;
                z-index: 1000;
            }
        </style>
            <script type="text/javascript" src="{% static 'javascripts/modernizr.custom.js' %}"></script>


{% endblock %}
       {#  <div class="col-md-8"> #}
{% block content %}
                <div id="image-{{instance.id}}" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

                    {{ instance.name }}<a class="btn btn-default" href="{% url 'post_ingredientedit' pk=instance.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                 <a class="btn btn-default" href="{% url 'ingredient_remove' pk=instance.pk %}" onclick="return confirmDelete();"><span class="glyphicon glyphicon-remove"></span></a>
</h1>
                        {# <p>price: {{  ingredients.price }}</p> #}
                        <p>вес: {{ instance.weight }}</p>
                </div>


              {#  </div>  #}

       <div class="menu"><a href="{% url 'post_ingredientnew' %}">
           <span class="glyphicon glyphicon-plus-sign"></span></a></div>
 {% endblock %}
{% block scrip %}
         <script type="text/javascript" src="{% static 'javascripts/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/gnmenu.js' %}"></script>
        <script>
         function confirmDelete ()
         {
             if (confirm("Вы уверены, что хотите удалить меню?")) {
                 return true;
             }
                     else
                     {
                     return false;
                 }
         }
       </script>
    <script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
    {%  include 'javascripts.html' %}
{% endblock %}