{% load staticfiles %}
<html>
    <head>
         <link href="{% static "stylesheets/post_new.css" %}" rel="stylesheet">
        <title>Django Girls blog</title>
          {% include 'stylesheets.html' %}
            <script type="text/javascript" src="{% static 'javascripts/modernizr.custom.js' %}"></script>

        		            </head>
    <body>
       {%  include 'navbar.html' %}
        <div class="sidebar">
            <ul class="main-menu">
                <li><a href="#company" class="gn-icon gn-icon-earth" id="sub-menu" tabindex="1">Персонал</a>
                    <ul>
                        <li><a class="gn-icon gn-icon-help">Управление</a></li>
                        <li><a href="/auth/register" class="gn-icon gn-icon-cog">Добавить сотрудника</a></li>
                    </ul>
                </li>

                <li><a href="#services" class="gn-icon gn-icon-help" id="sub-menu" tabindex="1">Информация</a>
                    <ul>
                        <li><a class="gn-icon gn-icon-article">Акции</a></li>
                        <li><a class="gn-icon gn-icon-earth">Контакты</a></li>
                    </ul>
                </li>

                <li><a href="#team" class="gn-icon gn-icon-article">Склад</a>
                    <ul>
                        <li><a href="{% url 'dishes_list' %}" class="gn-icon gn-icon-search">Блюда</a></li>
                        <li><a href="{% url 'post_ingredientlist' %}" class="gn-icon gn-icon-pictures">Продукты</a></li>
                    </ul>
                </li>

                <li><a href="#contacts" class="gn-icon gn-icon-help">Создать меню</a>
                    <ul>
                        <li><a href="{% url 'menu_archive' %}" class="gn-icon gn-icon-search">Архив</a></li>
                        <li><a href="{% url 'new_menu' %}" class="gn-icon gn-icon-search">Создать меню</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="page-container">
            <form role="form" method="post" action="" enctype="multipart/form-data" class="uniForm">{%  csrf_token %}
                      <h2>Составить новое блюдо</h2>
                        <div class="form-group">
                            {{ form.title.errors }}
                            <label for="title">Название блюда:</label>
                                {{ form.title }}
                        </div>

                        <div class="form-group">
                            {{ form.text.errors }}
                            <label for="text">Text</label>
                            {{ form.text }}
                        </div>

                        <div class="form-group">
                            {{ form.calories.errors }}
                            <label for="text">Калории:</label>
                            {{  form.calories }}
                        </div>

                        <div class="form-group">
                            {{ form.price.errors }}
                            <label for="price">Цена:</label>
                            {{ form.price }}
                        </div>

                        <div class="form-group">
                            {{ form.image.errors }}
                            <label for="image">Изображение:</label>
                            {{form.image}}
                        </div>

                        <label for="ingredients">Ингредиенты:</label>
                        {{ form.ingredients.errors }}
                        <div class="container1">
                            <div multiple="multiple" class="selectmultiple chosen">
                                {{ form.ingredients }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="quantity">Ингредиенты</label>
                                {% for p in posts %}
                                    <input type="number" class="form-group" name="quantity" id="{{ingredient1.id}}" value="0" placeholder="{{ p.name }}">
                                    <p class="help-block">{{ p.name }}</p>
                                {% endfor %}
                        </div>

                        <div class="form-group">
                            {{ form.type.errors }}
                            <label for="type">Тип: </label>
                            {{ form.type }}
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
            </form>
    </div>


        </div>
       <div class="menu"><a href="{% url 'post_new' %}">
           <span class="glyphicon glyphicon-plus-sign"></span></a></div>
  <div class="text"></div>
         <script type="text/javascript" src="{% static 'javascripts/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/gnmenu.js' %}"></script>
        <script>
         function confirmDelete ()
         {
             if (confirm("Вы уверены, что хотите удалить меню?")) {
                 return true;
             }
                     else
                     {
                     return false;
                 }
         }
       </script>
    <script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
    </body>
</html>