{% extends "base.html" %}
{% load staticfiles %}
    {% block content %}
            {% for dish in posts.items.all %}
                <div class="post">
                    <div id="image-{{dish.id}}" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <h2><a href="{% url 'post_detail' pk=dish.pk %}">{{ dish.title }}</a>
                            <a class="btn btn-default" href="{% url 'post_edit' pk=dish.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a class="btn btn-default" href="{% url 'post_remove' pk=dish.pk %}" onclick="return confirmDelete();"><span class="glyphicon glyphicon-remove"></span></a>
                        </h2>
                        {% if dish.image %}
                            <a href="{% url 'post_detail' pk=dish.pk %}"> <img src="/{{dish.image.url}}" height="200" width="250" float="left"/> </a>
                        {% endif %}
                        <p>price: {{  dish.price }}</p>
                        <p>калории: {{ dish.calories }}</p>
                    </div>
                </div>
            {% endfor %}
    {% endblock %}


    {% block scrip %}
         <script type="text/javascript" src="{% static 'javascripts/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/gnmenu.js' %}"></script>
        <script type="text/javascript">
         function confirmDelete ()
         {
             if (confirm("Вы уверены, что хотите удалить меню?")) {
                 return true;
             }
                     else
                     {
                     return false;
                 }
         }
       </script>
        {%  include 'javascripts.html' %}

    <script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
    {% endblock %}


