{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
    <style>
        div.page-container {
            padding-top: 20px !important;
        }
        .smart-green{
            height:auto !important;
        }
    </style>
{% endblock %}
    {% block content %}
            <form role="form" method="post" action="" enctype="multipart/form-data" class="smart-green">{%  csrf_token %}
                      <h1>"Режим работы"
                      <span>Пожалуйста заполните все поля формы</span>
                      </h1>
                <p>
                <label>
                            <div class="form-group" id="quant">
                            <label for="monrf1">Пн-Пт:</label>
                                    <div class="block1">
                                        {{ from.monfr1.errors }}
                                    {{ form.monfr1 }} -
                                        {{ form.monfr2.errors }}
                                    {{ form.monfr2 }}
                                    </div>
                        </div>
                    </label>

                        <div class="form-group" id="quant">
                            <label for="monrf1">Сб-Вс:</label>
                                    <div class="block1">
                                        {{ from.stsn1.errors }}
                                    {{ form.stsn1 }} -
                                        {{ form.stsn2.errors }}
                                    {{ form.stsn2 }}
                                    </div>
                        </div>

                       <div class="form-group" id="quant">
                            <label for="monrf1">Завтрак:</label>
                                    <div class="block1">
                                        {{ from.breakfast1.errors }}
                                    {{ form.breakfast1 }} -
                                        {{ form.breakfast2.errors }}
                                    {{ form.breakfast2 }}
                                    </div>
                        </div>

                       <div class="form-group" id="quant">
                            <label for="monrf1">Обед:</label>
                                    <div class="block1">
                                        {{ from.dinner1.errors }}
                                    {{ form.dinner1 }} -
                                        {{ form.dinner2.errors }}
                                    {{ form.dinner2 }}
                                    </div>
                        </div>

                        <div class="form-group" id="quant">
                            <label for="monrf1">Ужин:</label>
                                    <div class="block1">
                                        {{ from.supper1.errors }}
                                    {{ form.supper1 }} -
                                        {{ form.supper2.errors }}
                                    {{ form.supper2 }}
                                    </div>
                        </div>

                        <label>
                            {{ form.image.errors }}
                            <label for="image">Изображение:</label>
                            {{form.image}}
                        </label>
                        <label class="button-sum">
                        <span>&nbsp;</span>
                            <button type="submit" class="button">Save</button>
                        </label>
                        </div>
            </p>
            </form>
    </div>
        {%  endblock %}

              {#  </div>  #}

{% block scrip %}
         <script type="text/javascript" src="{% static 'javascripts/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/gnmenu.js' %}"></script>
        <script>
         function confirmDelete ()
         {
             if (confirm("Вы уверены, что хотите удалить меню?")) {
                 return true;
             }
                     else
                     {
                     return false;
                 }
         }
       </script>


    {% include 'javascripts.html' %}
    {% endblock %}
