{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <div class="page-header">
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
    <div class="post">
        {% if instance.published_date %}
            <div class="date">
                {{ instance.published_date }}
            </div>
        {% endif %}
    {# <a href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon-pencil"></span></a> #}
    {# <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a><a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a> #}
        <h1>{{ instance.title }} <a href="{% url 'post_edit' pk=instance.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></h1>
          </h1>
        {% if instance.image %}
                         <img src="{{ instance.image.url }}" height="200" width="250" float="left"/>
                       {% endif %}

                        <p>price: {{  instance.price }}</p>
                        <p>калории: {{ instance.calories }}</p>
                   {%  if ingredientss %}
    <ul>
        {%  for ingredients in ingredientss %}
        <li>{{ ingredients.name }}</li>
        {%  endfor %}
    </ul>
    {%  endif %}
                {{ instance.text|linebreaks }}
                </div>
 </div>
        </div>
    </div>
</body>
</html>