{% load staticfiles %}
<html>
    <head>
        <style>
            .navbar, .navbar-default {
                background-color: orange !important;
            }
        </style>
        <title>Django Girls blog</title>
          {% include 'stylesheets.html' %}
            </head>
    <body>
       {%  include 'navbar.html' %}

       <div class="content container">
    <div class="row">
       {#  <div class="col-md-8"> #}
            {% for post in posts %}
                <div class="col-md-8">
                <div class="post">
                    <div class="date">
                        {% if post.published_date %}
                            <p>published: {{ post.published_date }}</p>
                        {% endif %}
                    </div>
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a> <a href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></h1>
                        {% if post.image %}
                         <img src="{{ post.image.url }}" height="200" width="250" float="left"/>
                       {% endif %}
                        <p>price: {{  post.price }}</p>
                        <p>калории: {{ post.calories }}</p>

                {% for post in posts %}
                    <p> {%  for dishes in post.dishes.all %}{{ dishes }} </p>
                        {%  endfor %}
                {%  endfor %}
                {{ post.text|linebreaks }}
                </div>
               </div>
             {% endfor %}
              {#  </div>  #}

        </div>
    </div>
     {%  include 'javascripts.html' %}
    </body>
</html>
