{% load staticfiles %}
<html>
    <head>
        <style>
            .navbar, .navbar-default {
                background-color: orange !important;
            }
           .navbar-brand{
                color: white !important;
                font-size: 200% !important;
                font-family: SansSerif;
            }
             .navbar-header{
             transform: translateX(39px) !important;
             }
        </style>
        <title>Django Girls blog</title>
          {% include 'stylesheets.html' %}
            </head>
    <body>
       {%  include 'navbar.html' %}

       <div class="content container">
    <div class="row">
       {#  <div class="col-md-8"> #}
            {% for post in posts %}
                <div class="col-md-8">
                 <form method="post" action="" enctype="multipart/form-data" class="post-form">{%  csrf_token %}
                        {{ form.as_p }}
                   <button type="submit" class="btn btn-primary">Save</button>
                       </form>
               </div>
             {% endfor %}
              {#  </div>  #}

        </div>
    </div>
     {%  include 'javascripts.html' %}
    </body>
</html>
