{% load staticfiles %}
<html>
    <head>
        <title>Django Girls blog</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
             {% <a href="{% url 'post_ingredientnew' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> %}
            <h1><a href="">Smart cashier</a></h1>
        </div>

       <div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.name }}</a> <a href="{% url '' %}"><span class="glyphicon glyphicon-pencil"></span></a></h1>
                        <p>price: {{  post.price }}</p>
                        <p>калории: {{ post.weight }}</p>
                {{ post.text|linebreaks }}
                </div>


                </div>
            {% endfor %}
        </div>
    </div>

    </body>
</html>