{% load staticfiles %}
<html>
    <head>
         <style>
            .navbar, .navbar-default {
                background-color: orange !important;
            }
            .navbar-brand{
                color: white !important;
                font-size: 200% !important;
                font-family: SansSerif;
            }
             .navbar-header{
             transform: translateX(39px) !important;
             }
                                        </style>
        <title>Django Girls blog</title>
          {% include 'stylesheets.html' %}
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
    {%  include 'navbar.html' %}
    <div class="content container">
         <h1> Добавить блюдо: </h1>
        <div class="row">
            <div class="col-md-8">

               {% for post in posts %}
                <div class="post">
                    <h1><a href="{% url 'post_ingredientdetail' pk=post.pk %}">{{ post.name }}</a> <a href="{% url 'post_ingredientedit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></h1>
                        {# <p>price: {{  ingredients.price }}</p> #}
                        <p>вес: {{ post.weight }}</p>
                </div>
            {% endfor %}


</div>
        </div>
    </div>
     {%  include 'javascripts.html' %}
</body>
</html>
