

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #00FF00;
}


.img {
    float: left;
    width: 42px;
    height: 42px;
}
.post .date{
     float: right;
        color: #828282;
}
a.btn.btn-default
{
    float:right;
}
