<nav>
		<ul class="mcd-menu">
			<li>
				<a href="/auth/register" class="active">
					<i class="fa fa-user" id='active'></i>
					<strong>Управление</strong>
                    <small>персоналом</small>
				</a>
                <ul>
					<li><a href="/auth/register"><i class="fa fa-plus-circle"></i>Добавить сотрудника</a></li>
					<li>
						<a href="/auth/user"><i class="fa fa-group"></i>Управление</a>
			        </li>
                   </ul>
        </li>
			<li>
				<a href="/auth/register/shares">
					<i class="fa fa-info-circle"></i>
					<strong>Информация</strong>
					<small>о столовой</small>
				</a>
                <ul>
					<li><a href="/auth/register/shares"><i class="fa fa-gift"></i>Акции</a></li>
					<li>
						<a href="#"><i class="fa fa-phone-square"></i>Контакты</a>
			        </li>
                    {% if schedule %}
                    <li><a href="schedule_edit" pk=schedule.id><i class="fa fa-clock-o"></i>Режим работы</a></li>
                    {% else %}
                    <li><a href="schedule_new" pk=schedule.id><i class="fa fa-clock-o"></i>Режим работы</a></li>
                    {%  endif %}
                </ul>
        </li>
					<li>
				<a href="{% url 'dishes_list' %}">
					<i class="fa fa-list-ol"></i>
					<strong>Склад</strong>
					<small>товаров</small>
				</a>
                <ul>
					<li><a href="{% url 'dishes_list' %}"><i class="fa fa-cutlery"></i>Блюда</a></li>
					<li>
						<a href="{% url 'post_ingredientlist' %}"><i class="fa fa-lemon-o"></i>Продукты</a>
			        </li>
                    </ul>
        </li>
			<li>
				<a href="{% url 'menu_archive' %}">
					<i class="fa fa-file-text-o"></i>
					<strong>Меню</strong>
					<small>на сегодня</small>
				</a>
                <ul>
					<li><a href="{% url 'menu_archive' %}"><i class="fa fa-folder-open"></i>Архив</a></li>
					<li>
						<a href="{% url 'new_menu' %}"><i class="fa fa-check-square-o"></i>Создать меню</a>
			</li>
                    </ul>
			{% comment %}<li class="float">
				<a class="search">
					<input type="text" value="search ...">
					<button><i class="fa fa-search"></i></button>
				</a>
				<a href="" class="search-mobile">
					<i class="fa fa-search"></i>
				</a>
			</li>{% endcomment %}
            </ul>
	</nav>