<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#not-google-plus-nav">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Smart Foods</a>
    </div> <!-- ./navbar-header -->

    <div class="collapse navbar-collapse" id="not-google-plus-nav">
      <ul id="gn-menu" class="nav navbar-nav pull-right">
        {% if user.is_authenticated %}
          <li class="navbar-text">Welcome, {{ user.username }}</li>
          {# <li><a href="/+{{ user.username }}/settings">Settings</a></li>#}
          <li><a href="/auth/logout/">Logout</a></li>
          {# <li><a href="/post/admin"><span class="glyphicon glyphicon-cog"></span></a></li> #}
            <li class="gn-trigger" id="k">

					<nav class="gn-menu-wrapper" id="m">
						<div class="gn-scroller" id="n">
							<ul class="gn-menu" id="d">
                                <li class="settings">
                                   <a class="gn-icon gn-icon-photoshop"> Настройки администратора</a>
								<li>
                                    <a class="gn-icon gn-icon-earth">Персонал</a>
                                <ul class="gn-submenu">
                                    <li><a class="gn-icon gn-icon-help">Управление</a></li>
                                    <li><a href="/auth/register" class="gn-icon gn-icon-cog">Добавить сотрудника</a></li>
                                </ul>
                                </li>
								<li>
                                    <a class="gn-icon gn-icon-help">Информация</a>
                                    <ul class="gn-submenu">
                                   <li><a class="gn-icon gn-icon-article">Акции</a></li>
										<li><a class="gn-icon gn-icon-earth">Контакты</a></li>
                                </ul>
                                </li>
								<li>
									<a class="gn-icon gn-icon-article">Склад</a>
                                    <ul class="gn-submenu">
                                    <li><a href="{% url 'dishes_list' %}" class="gn-icon gn-icon-search">Блюда</a></li>
                                    <li><a href="{% url 'post_ingredientlist' %}" class="gn-icon gn-icon-pictures">Продукты</a></li>

                                </ul>
								</li>
                                <li>
                                    <a class="gn-icon gn-icon-help">Создать меню</a>
                                    <ul class="gn-submenu">
                                    <li><a href="{% url 'menu_archive' %}" class="gn-icon gn-icon-search">Архив</a></li>
                                    <li><a href="{% url 'new_breakfast' %}" class="gn-icon gn-icon-search">Создать завтрак</a></li>
                                    <li><a href="{% url 'new_dinner' %}" class="gn-icon gn-icon-pictures">Создать обед</a></li>
                                    <li><a href="{% url 'new_supper' %}" class="gn-icon gn-icon-pictures">Создать ужин</a></li>

                                </ul>
                                </li>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
        {% else %}
          <li><a href="/auth/login">Login</a></li>

        {% endif %}
      </ul>
    </ul>
    </div> <!-- /.collapse.navbar-collapse -->
  </div> <!-- /.container-fluid -->
</nav>